<div style="display: flex; flex: 1; flex-direction: row-reverse; justify-content: center; z-index: 1">

  <div style="position: absolute; vertical-align: middle; justify-self: center; align-self: center; background: white; padding: 5px 30px; border-radius: 4px;">
    <div class="spinner">
    </div>
  </div>

  <div [hidden]="!status_logado" style="margin: 0 5px 0 0;  display: flex; justify-content: center; align-items: center; flex: 0.8;
      z-index: 2">
    <button type="button" class="btn btn-secondary"(click)="show_modal()" style="padding: 0; height: 35px; width: 100%;">
      <div style="display: flex; font-size: 12px; font-weight: bold; display: flex; justify-content: center; align-items: center">
        <div style="padding: 4px; margin: 0 4px 0 0">
          {{displayName}}
        </div>
        <div style="margin: 0 5px 0 0">
          <img src="{{photoURL}}" style="border-radius: 50%; width: 25px; height: 25px;"/>
        </div>
      </div>
    </button>
  </div>

  <div [hidden]="status_logado" style="margin: -20px 0 0 0px;z-index: 2">
    <div id="firebaseui-auth-container" style="padding: 0; margin: 0;"></div>
  </div>

</div>

<!--Modal de controle do usuario-->
<!--ORIENTACOES DAE-->
<div id="modal-auth" class="modal" tabindex="-1" role="dialog">
  <!--EM CASO DE SUCESSO-->
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{displayName}}</h5>
      </div>
      <div class="modal-body">
        <div style="display: flex; justify-content: center; flex-direction: column">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="logoff()">SignOut</button>
        </div>
      </div>
      <div class="modal-footer">
        <div style="display: flex; justify-content: space-between; width: 100%">
          <div></div>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

