<div class="accordion_wrap">
  <div class="accordion_header" style="display: flex; padding: 0;" (click)="accord_click();">
    <!--<img class="acc_icon" src="assets/img/{{img}}" style="margin:0 4px 0 0">-->
    <i class="_ik _svg _arrow_circle _p-0-2 _f12 _wh18" style="color: white; margin-right: 3px;" [ngClass]="{'_r180': !hidden}"></i><!--
    --><span style="margin-top: -1px">{{titulo}}</span>
  </div>
  <div class="accordion_content" [hidden]="hidden">
    <ng-content></ng-content>
  </div>
</div>
