:host {
  display: flex;
}
.all {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #d9dbd4;
  user-select: none;
}

.menu_bt {
  background: #009688;
  color: white;
  font-weight: 600;
  padding: 4px 5px;
  float: left;
  margin: 2px;
}

.hover1:hover {
  background: #babcb3;
  cursor: pointer;
}
.botoes_hrst {
  padding: 0 2px;
  width: 12px;
}
.botoes_hrst:hover {
  background: #babcb3;
  cursor: pointer;
}
