:host {
  display: flex;
}
.all {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #d9dbd4;
  user-select: none;
}

.menu_bt {
  background: #009688;
  color: white;
  font-weight: 600;
  padding: 4px 5px;
  float: left;
  margin: 2px;
}

.hover1:hover {
  background: #babcb3;
  cursor: pointer;
}
.botoes_hrst {
  padding: 0 2px;
  width: 12px;
}
.botoes_hrst:hover {
  background: #babcb3;
  cursor: pointer;
}
.tabela_prancheta {
  margin: 10px;
  width: calc(100% - 20px) !important;
}
.tabela_prancheta td,th {
  font-size: 14px;
  padding: 0 !important;
  height: 20px;
  text-align: center;
}
.tabela_prancheta th {
  color: #5d5d5d;
}
.nodeball {
  border-radius: 50%; border: 1px solid #bf5632; width: 18px; height: 18px; align-self: center;
  justify-self: center; display: inline-block; vertical-align: middle; margin: 0; padding: 2px 0 0 0;
  font-size: 11px; color: white; font-weight: bold; font-family: "Arial Narrow"; font-smooth: never;
}
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-thumb { background-color: lightgray; outline: 1px solid slategrey; }

.parametros_IG .input-group-addon {
  font-size: 12px;
  padding: 2px 4px;
  text-align: center;
  height: 24px;
}
.parametros_IG {
  max-width: calc(100% - 6px);
  height: 30px; margin: 0 3px 0 3px; padding: 0
}
