<div class="all">

  <!--ROW 1-->
  <div style="height: 30px; display: flex; margin-top: 5px">

    <!--COL 1-->
    <div style="width: 50px; display: flex;">
    </div>

    <!--COL 2-->
    <div style="flex: 1; display: flex; justify-content: space-between">

      <div style="display: flex; align-items: center; justify-content: center;">
        <span style="font-size: 16px; line-height: 1em; margin: 4px 0 0 5px">{{_P.p.titulo}}</span>
      </div>

      <div style="display: flex;">
        <div style="display: flex; justify-content: center; padding: 4px; font-size: 12px; line-height: 22px;">
          <div style="border-radius: 50%; border: 1px solid #4480a8; background: #add8e6; width: 14px; height: 14px; align-self: center; justify-self: center;">
          </div>
          <div style="font-weight: bold; margin: 0 3px; color: #4480a8">
            {{selected_blue_count}}
          </div>
          <div style="margin: 0 3px;"></div>
          <div style="border-radius: 50%; border: 1px solid #bf5632; background: #ffa07a; width: 14px; height: 14px; align-self: center; justify-self: center;">
          </div>
          <div style="font-weight: bold; margin: 0 3px; color: #bf5632">
            {{selected_orange_count}}
          </div>
        </div>
        <app-tool [nome_tool]='"selection_blue"' style="margin: 0 3px" (click)="config_inicial_selecao('blue')"></app-tool>
        <app-tool [nome_tool]='"selection_orange"' style="margin: 0 3px" (click)="config_inicial_selecao('orange')"></app-tool>
        <app-tool [nome_tool]='"selection_white"' style="margin: 0 10px 0 3px" [selecionavel]="false" (click)="remover_selecoes()"></app-tool>
      </div>

    </div>

    <!--COL 3-->
    <div style="width: 200px; display: flex;">
      <app-auth></app-auth>
    </div>

  </div>

  <!--ROW 2-->
  <div style="flex: 1; display: flex;">

    <!--COL 1-->
    <div style="width: 50px; display: flex;">

      <div style="padding: 10px;">
        <app-tool [nome_tool]='"add_node"'></app-tool>
        <app-tool [nome_tool]='"link_nodes"'></app-tool>
        <app-tool [nome_tool]='"temp_node_list"' [selecionavel]="false" (click)="switch_prancheta_onoff()"></app-tool>
        <app-tool [nome_tool]='"move_hand"'></app-tool>
        <app-tool [nome_tool]='"insert_text"'></app-tool>
        <app-tool [nome_tool]='"delete"' [selecionavel]="false" (click)="deletar_selecionados()"></app-tool>
        <app-tool [nome_tool]='"manual"' [selecionavel]="false"></app-tool>
      </div>

    </div>

    <!--COL 2-->
    <div style="flex: 1; display: flex; padding: 0; margin: 3px; flex-direction: column">

      <!-- SUB ROW 1 - Prancheta e mapa -->
      <div style="flex: 1; display: flex; padding: 0;">
        <div id="prancheta" *ngIf="prancheta_onoff" style="margin: 0 10px 0 0; height: 100%; background:white; border: 1px solid gray; border-radius: 6px; overflow-y: auto"
             [ngStyle]="{'width' : (hide_map) ? '100%' : '60%' }">
          <div style="display: flex; flex-direction: column">
            <!--Prencheta ROW 1-->
            <div style="justify-content: space-between; display: flex;">
              <div style="border-bottom: 1px dashed #868686; flex: 1; height: 30px; display: flex;">
              <span style="margin: 5px 0 0 10px; font-size: 14px; font-weight: bold; color: #4e4e4e">
                Vértices <i class="_ik _p-0-2 _clickGreen" style="color: green; font-weight: normal" (click)="adicionar_novo_node_centro()"><i class="_ik _svg _plus_g16 _f12 _wh16 _vam _mt-3"></i></i>
              </span>
              </div>
              <div style="flex: 1; border-bottom: 1px dashed #868686; padding-top: 2px">
                <i class="_ik _clickGreen" style="font-style: normal; font-size: 12px; border: 1px solid #9c9c9c; border-radius: 6px; padding: 0 4px; color: gray" (click)="mostrar_prancheta_config_modal()" >CONFIGURAR</i>
              </div>
              <div style="border-bottom: 1px dashed #868686;">
                <i class="_ik _p-0-2 _clickPurple" style="color: gray;" (click)="hide_map=!hide_map"><i class="_ik _svg _align_right_g10 _f20 _wh20 _vam _mt-3"></i></i>
              </div>
            </div>
            <!--Prencheta ROW 2-->
            <div style="flex: 1; display: flex;">
              <!--TABELA DE VERTICES-->
              <table class="tabela_prancheta table table-bordered" style="flex: 1;">
                <thead>
                <tr>
                  <th *ngIf="_P.p.pran_cfg_show_x_y">X</th>
                  <th *ngIf="_P.p.pran_cfg_show_x_y">Y</th>
                  <th>Nome</th>
                  <th *ngIf="_P.p.pran_cfg_show_lat_lng">Lat</th>
                  <th *ngIf="_P.p.pran_cfg_show_lat_lng">Lng</th>
                  <th *ngIf="_P.p.pran_cfg_show_params_loc">Volume</th>
                  <th *ngIf="_P.p.pran_cfg_show_params_loc">Taxa</th>
                  <th *ngIf="_P.p.pran_cfg_show_params_loc_pmed">CustoFixo</th>
                  <th *ngIf="_P.p.pran_cfg_show_params_pro_tranp">(PT) Qtd</th>
                </tr>
                </thead>
                <tbody spellcheck="false">
                <tr *ngFor="let node of _P.p.g.nodes">
                  <td *ngIf="_P.p.pran_cfg_show_x_y" [ngStyle]="{'background' : (node.selected_blue) ? '#a0c0d8':(node.selected_orange) ? '#ffc4b1':'white'}">
                    <div contenteditable="true" style="min-width: 20px" (input)="corrigir_edicao($event.target)" (keydown.enter)="atualizar_node_prancheta(node, $event.target, 0)"
                         (blur)="atualizar_node_prancheta(node, $event.target, 0)" [textContent]="(node.dist_x.n+'').replace('.',',')+node.dist_x.und" (focus)="selectionar_editable()"></div>
                  </td>
                  <td *ngIf="_P.p.pran_cfg_show_x_y" [ngStyle]="{'background' : (node.selected_orange) ? '#ffc4b1':(node.selected_blue) ? '#a0c0d8':'white'}">
                    <!--Com esse id, consigo facilmente identificar o elemento aqui na prancheta, e o node a que se refere...-->
                    <!--EDIT: ContentEditable parece algo muito bacana e util, mas é um pouco bixado... Entao parei de utilizar-->
                    <div contenteditable="true" style="min-width: 20px" (input)="corrigir_edicao($event.target)" (keydown.enter)="atualizar_node_prancheta(node, $event.target, 1)"
                         (blur)="atualizar_node_prancheta(node, $event.target, 1)" [textContent]="(node.dist_y.n+'').replace('.',',')+node.dist_y.und" (focus)="selectionar_editable()"></div>
                    <!--Tentei colocar o mesmo INPUT de distancia do zoom aqui, mas nao da legal pq o sistema muda o n_m das distancias, mas a referencia para o objeto Distancia nao muda...-->
                    <!--Assim, nao dispara change detection! Ja com metodos que dao bind em dist_x.n_m, ai sim, dispara-->
                    <!--<input contenteditable="true" style="min-width: 20px" [ngModel]="node.dist_y | input_distancia" [input-distancia]="node.dist_y" name="teste">-->
                  </td>
                  <td [ngStyle]="{'background' : (node.selected_orange) ? '#ffc4b1':(node.selected_blue) ? '#a0c0d8':'white'}">
                    <div contenteditable="true" style="min-width: 20px" (input)="corrigir_edicao($event.target)" (keydown.enter)="atualizar_node_prancheta(node, $event.target, 2)"
                         (blur)="atualizar_node_prancheta(node, $event.target, 2)" [textContent]="node.nome" (focus)="selectionar_editable()"></div>
                  </td>
                  <td *ngIf="_P.p.pran_cfg_show_lat_lng" >{{node.info_Lat}}</td>
                  <td *ngIf="_P.p.pran_cfg_show_lat_lng">{{node.info_Lng}}</td>
                  <td *ngIf="_P.p.pran_cfg_show_params_loc" >
                    <div contenteditable="true" style="min-width: 20px" (input)="corrigir_edicao($event.target)" (keydown.enter)="atualizar_node_prancheta(node, $event.target, 3)"
                         (blur)="atualizar_node_prancheta(node, $event.target, 3)" [textContent]="(node.cog_vol+'').replace('.',',')" (focus)="selectionar_editable()"></div>
                  </td>
                  <td *ngIf="_P.p.pran_cfg_show_params_loc">
                    <div contenteditable="true" style="min-width: 20px" (input)="corrigir_edicao($event.target)" (keydown.enter)="atualizar_node_prancheta(node, $event.target, 4)"
                         (blur)="atualizar_node_prancheta(node, $event.target, 4)" [textContent]="(node.cog_rate+'').replace('.',',')" (focus)="selectionar_editable()"></div>
                  </td>
                  <td *ngIf="_P.p.pran_cfg_show_params_pro_tranp">
                    <div contenteditable="true" style="min-width: 20px" (input)="corrigir_edicao($event.target)" (keydown.enter)="atualizar_node_prancheta(node, $event.target, 5)"
                         (blur)="atualizar_node_prancheta(node, $event.target, 5)" [textContent]="(node.pt_qtde_ofert_demand+'').replace('.',',')" (focus)="selectionar_editable()"></div>
                  </td>
                  <td *ngIf="_P.p.pran_cfg_show_params_loc_pmed" >
                    <div contenteditable="true" style="min-width: 20px" (input)="corrigir_edicao($event.target)" (keydown.enter)="atualizar_node_prancheta(node, $event.target, 6)"
                         (blur)="atualizar_node_prancheta(node, $event.target, 6)" [textContent]="(node.pmed_custofixo+'').replace('.',',')" (focus)="selectionar_editable()"></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--Prencheta ROW 3-->
            <div style="border-bottom: 1px dashed #868686; flex: 1; height: 30px; display: flex;">
              <span style="margin: 5px 0 0 10px; font-size: 14px; font-weight: bold; color: #4e4e4e">Arestas</span>
            </div>
            <div style="flex: 1; display: flex;">
              <!--TABELA DE ARESTAS-->
              <table class="tabela_prancheta table table-bordered" style="flex: 1;">
                <thead>
                <tr>
                  <th>De</th>
                  <th>Para</th>
                  <th *ngIf="_P.p.pran_cfg_show_params_pro_tranp">$/und/dis</th>
                  <th *ngIf="_P.p.pran_cfg_show_params_pro_tranp">$/und</th>
                  <th *ngIf="_P.p.pran_cfg_show_params_pro_tranp">Qtd Otima</th>
                </tr>
                </thead>
                <tbody spellcheck="false">
                <tr *ngFor="let edge of _P.p.g.edges">
                  <td [ngStyle]="{'background' : (edge.selected_blue) ? '#a0c0d8':(edge.selected_orange) ? '#ffc4b1':'white'}">
                    {{edge.nA.nome}}
                  </td>
                  <td [ngStyle]="{'background' : (edge.selected_orange) ? '#ffc4b1':(edge.selected_blue) ? '#a0c0d8':'white'}">
                    {{edge.nB.nome}}
                  </td>
                  <td *ngIf="_P.p.pran_cfg_show_params_pro_tranp">
                    <div contenteditable="true" style="min-width: 20px" (input)="corrigir_edicao($event.target)" (keydown.enter)="atualizar_edge_prancheta(edge, $event.target, 0)"
                         (blur)="atualizar_edge_prancheta(edge, $event.target, 0)" [textContent]="(edge.pt_custo_unit_metro+'').replace('.',',')" (focus)="selectionar_editable()"></div>
                  </td>
                  <td *ngIf="_P.p.pran_cfg_show_params_pro_tranp">
                    <div contenteditable="true" style="min-width: 20px" (input)="corrigir_edicao($event.target)" (keydown.enter)="atualizar_edge_prancheta(edge, $event.target, 1)"
                         (blur)="atualizar_edge_prancheta(edge, $event.target, 1)" [textContent]="(edge.pt_custo_unit+'').replace('.',',')" (focus)="selectionar_editable()"></div>
                  </td>
                  <td *ngIf="_P.p.pran_cfg_show_params_pro_tranp">
                    {{edge.pt_qtd_otima_calculada}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!--COLOR PICKER, ja que o intellij nao me mostra as cores em SVG, uso isso aqui...-->
        <ng-template style="background: darkgreen;" hidden></ng-template>
        <div style="width: 100%; margin: 0; height: 100%; background:rgb(255,255,214); border: 1px dashed gray; position: relative;" [hidden]="prancheta_onoff && hide_map"
             #wrapper>
          <!--Tanto o svg como o div do google maps sao absolute em relacao ao relative acima... Assim, pairam no mesmo lugar-->
          <div id="map" style="background: transparent; position: absolute; width: 100%; height: 100%" *ngIf="gmaps_onoff"></div>
          <svg id="root_svg" style="height: 100%; position: absolute;" [ngClass]="'_cur_'+(selected_tool?.nome_tool)"
               [style.width]="wrapper.offsetWidth" [style.height]="wrapper.offsetHeight"
               on-mousemove="mouse_moving($event)" on-mousedown="mouse_down($event)" on-mouseleave="mouse_leave($event)" on-mouseup="mouse_up($event)"
               on-mousewheel="mouse_wheel($event)" (window:resize)="resetar_tamanhos_mapa()" on-mouseenter="mouse_enter($event)">

            <!--OLD: [ngStyle]="{'cursor': (selected_tool == null) ? 'default' : 'url(assets/img/tools/cursors/'+selected_tool?.nome_tool+'.png), auto'}"-->

            <!--Grupo do pan, nao da mt certo pq nao tem como relativizar a posicao dos child... Mas colocar um transform_text funciona! -->
            <!--<g [attr.transform]="transform_text"></g>-->

            <g *ngFor="let x of _P.p.svg_texts">
              <text r="13" [attr.x]="x.x_s" [attr.y]="x.y_s" [attr.fill]="x.fill_color" style="font-size: 12px;" text-anchor="middle"
                    [attr.font-weight]="x.font_weight" [attr.text-decoration]="x.text_decoration"
                    on-mouseover="x.mouse_over($event,true)" on-mouseleave="x.mouse_over($event,false)"
                    on-mousedown="x.mouse_down($event)" on-mouseup="x.mouse_up($event)">{{x.text}}</text>
            </g>

            <g *ngFor="let x of _P.p.g.edges">
              <line [attr.x1]="x.nA.x_s" [attr.y1]="x.nA.y_s" [attr.x2]="x.nB.x_s" [attr.y2]="x.nB.y_s" [attr.stroke]="x.color2" stroke-width="5.4"/>
              <line [attr.x1]="x.nA.x_s" [attr.y1]="x.nA.y_s" [attr.x2]="x.nB.x_s" [attr.y2]="x.nB.y_s" [attr.stroke]="x.color3" stroke-width="5.4" stroke-dasharray="5,5"/>
              <line [attr.x1]="x.nA.x_s" [attr.y1]="x.nA.y_s" [attr.x2]="x.nB.x_s" [attr.y2]="x.nB.y_s" stroke="black" stroke-width="1.4"/>
              <!--Aura-->
              <line [attr.x1]="x.nA.x_s" [attr.y1]="x.nA.y_s" [attr.x2]="x.nB.x_s" [attr.y2]="x.nB.y_s" stroke="transparent" stroke-width="8"
                    on-mouseover="x.mouse_over($event,true)" on-mouseleave="x.mouse_over($event,false)"
                    on-mousedown="x.mouse_down($event)" on-mouseup="x.mouse_up($event)"/>
            </g>

            <!--Os nodes ficam acima dos edges-->
            <g *ngFor="let x of _P.p.g.nodes">
              <circle r="11" [attr.cx]="x.x_s" [attr.cy]="x.y_s" [attr.fill]="x.color3"/>
              <circle r="9" [attr.cx]="x.x_s" [attr.cy]="x.y_s" [attr.fill]="x.color2"/>
              <circle r="5" [attr.cx]="x.x_s" [attr.cy]="x.y_s" [attr.fill]="x.color1" stroke="#000000" stroke-width="1.5"/>
              <!--Aura-->
              <circle r="13" [attr.cx]="x.x_s" [attr.cy]="x.y_s" fill="transparent"
                      on-mouseover="x.mouse_over($event,true)" on-mouseleave="x.mouse_over($event,false)"
                      on-mousedown="x.mouse_down($event)" on-mouseup="x.mouse_up($event)"/>
            </g>

            <line [attr.x1]="pan_line_x_s_1" [attr.y1]="pan_line_y_s_1" [attr.x2]="pan_line_x_s_2" [attr.y2]="pan_line_y_s_2" stroke="red" stroke-width="0.7" stroke-dasharray="8,4"/>

            <line [attr.x1]="link_node_a?.x_s" [attr.y1]="link_node_a?.y_s" [attr.x2]="link_node_x_s_2" [attr.y2]="link_node_y_s_2" stroke="darkgreen" stroke-width="0.7" stroke-dasharray="4,2"/>

            <!--Selecao, fica acima de todos-->
            <rect [attr.x]="select_x" [attr.y]="select_y" [attr.width]="select_width" [attr.height]="select_height" [attr.fill]="select_fill"></rect>

          </svg>
        </div>
      </div>

      <!-- SUB ROW 2 - Output -->
      <div style="display: flex; padding: 0;">
        <!--A altura inicial de 100px pode ser alterada com resizable... Ela que serve de parametro pro contenteditable-->
        <div id="output" *ngIf="output_onoff" style="flex: 1; background:white; border: 1px solid gray; border-radius: 5px; margin: 3px 0 0 0; height: 100px;">
          <!--contenteditable NAO DEU LEGAL, pq no PAN ficava selecionando o texto... FICA AI SO DE DOC-->
          <!--<div id="output_cont" contenteditable="true" [textContent]="_P.p.output_text" (blur)="contenteditable_output_input($event.target)" style="overflow: auto; max-height: 100%; height: 100%; font-size: 12px; padding: 5px; background: #ffffe6; white-space: pre-line;"></div>-->
          <textarea id="output_TA" [(ngModel)]="_P.p.output_text" style="border: none; resize: none; width: 100%; height: 100%; font-size: 12px; padding: 5px; background: #ffffe6;"></textarea>
        </div>
      </div>

    </div>

    <!--COL 3-->
    <div style="width: 200px; display: flex; font-size: 12px;">

      <div style="padding: 0 5px; margin: 10px 0 0 0">
        <div style="border-bottom: solid 1px; font-style: italic; color: gray">Parâmetros</div>
        <app-accordion1 [titulo]='"Geral"'> ... </app-accordion1>
        <app-accordion1 [titulo]='"Vértices"'>
          ...
          <app-accordion2 [titulo]='"Ações Rápidas"' [top]='"4px"'>
            <div style="display: flex; flex-direction: column; margin: 4px 0">
              <div style="display: flex; justify-content: center; padding: 4px; flex-direction: column" >
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="_AcRap.interconectar_nodes_sel_azul()" style="margin-bottom: 5px"
                [disabled]="!(selected_blue_count > 1)">
                  <div class="nodeball" style="background: #add8e6; margin-right: 5px;">2+</div><span style="vertical-align: middle; margin-top: -3px;">Conectar NxN</span>
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="_AcRap.conectar_nodes_sel_azul_com_laranja()"
                        [disabled]="!(selected_orange_count == 1 && selected_blue_count >= 1 )">
                  <div class="nodeball" style="background: #add8e6;">1+</div>
                  <div class="nodeball" style="background: #ffa07a; margin-right: 5px;">1</div>
                  <span style="vertical-align: middle; margin-top: -3px;">Conectar Nx1</span>
                </button>
              </div>
            </div>
          </app-accordion2>
          <app-accordion2 [titulo]='"Parâmetros Localização"' [bottom]='"4px"'>...</app-accordion2>
        </app-accordion1>
        <app-accordion1 [titulo]='"Arestas"'>...</app-accordion1>
        <app-accordion1 [titulo]='"Calcular"'>
          <app-accordion2 [titulo]='"Localização"' [top]='"4px"'>
            <div style="display: flex; flex-direction: column; margin: 4px 0; padding: 1px; align-items: flex-start; width: 174px; justify-content: center; align-items: center;"
              ngForm #fff_loc="ngForm">
              <!--SEM FORM-CONTROL TA FICANDO MAL ALINHADO... DPS VER PQ-->
              <div class="input-group input-group-sm parametros_IG" style="box-sizing:border-box;">
                <div class="input-group-addon">Power Factor</div>
                <input class="input-group-addon form-control" type="text" style="background: white;" [(ngModel)]="_P.p.loc_power_factor" name="power_factor">
              </div>
              <div class="input-group input-group-sm parametros_IG">
                <div class="input-group-addon">Precisão</div>
                <input class="input-group-addon form-control" type="text" style="background: white;" [(ngModel)]="_P.p.loc_precisao" name="precisao">
              </div>
              <!--<div class="input-group input-group-sm parametros_IG">
                <div class="input-group-addon">Usar</div>
                <select class="input-group-addon form-control" type="text" style="background: white; height: 24px" [(ngModel)]="_P.p.loc_usar_alg_tipo" name="usar_alg">
                  <option value="0">Um CG - Iteração</option>
                  <option value="1">Multi CG - Clustering (Heurística)</option>
                  <option value="2">Multi CG - Todas Combinações (Exato)</option>
                  <option value="3">P-Mediana</option>
                </select>
              </div>-->
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="_SoLoc.GUI_calcular_CT_otimo()" style="margin-bottom: 5px"
                      [disabled]="!(selected_blue_count > 1) || fff_loc.invalid">
                <div class="nodeball" style="background: #add8e6; margin-right: 5px;">2+</div><span style="vertical-align: middle; margin-top: -3px;">Calc COG</span>
              </button>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="_SoLoc.GUI_avaliar_CT_destino()"
                      [disabled]="!(selected_orange_count == 1 && selected_blue_count >= 1 ) || fff_loc.invalid">
                <div class="nodeball" style="background: #add8e6;">1+</div>
                <div class="nodeball" style="background: #ffa07a; margin-right: 5px;">1</div>
                <span style="vertical-align: middle; margin-top: -3px;">Avaliar CT</span>
              </button>
              <div class="input-group input-group-sm parametros_IG" style="box-sizing:border-box; margin-top: 8px;">
                <div class="input-group-addon">Qtd Centros</div>
                <input class="input-group-addon form-control" type="text" style="background: white;" [(ngModel)]="_P.p.loc_qtd_centros" name="qtd_centros">
              </div>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="_SoLoc.GUI_calcular_CT_otimo()" style="margin-bottom: 5px"
                      [disabled]="!(selected_blue_count > _P.p.loc_qtd_centros) || fff_loc.invalid">
                <div class="nodeball" style="background: #add8e6; margin-right: 5px;">{{(_P.p.loc_qtd_centros*1)+1}}+</div><span style="vertical-align: middle; margin-top: -3px;">Calc MULTICOG</span>
              </button>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="_SoPMED.solver_pmed()" style="margin-bottom: 5px"
                      [disabled]="!(selected_blue_count > _P.p.loc_qtd_centros) || fff_loc.invalid">
                <div class="nodeball" style="background: #add8e6; margin-right: 5px;">{{(_P.p.loc_qtd_centros*1)+1}}+</div><span style="vertical-align: middle; margin-top: -3px;">Calc PMED</span>
              </button>
            </div>
          </app-accordion2>
          <app-accordion2 [titulo]='"Roteirização"' [bottom]='"4px"'>
            <div style="display: flex; flex-direction: column; margin: 4px 0">
              <div style="display: flex; justify-content: center; padding: 4px; flex-direction: column" >
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="_SoDij.GUI_calcular_melhor_rota()"
                        [disabled]="!(selected_orange_count == 2)" style="margin-bottom: 4px;">
                  <div class="nodeball" style="background: #ffa07a; margin-right: 5px;">2+</div><span style="vertical-align: middle; margin-top: -3px;">Melhor rota</span>
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="_SoPT.solver_pt()"
                        [disabled]="!(selected_orange_count >= 1 && selected_blue_count >= 1 )">
                  <div class="nodeball" style="background: #add8e6;">2+</div>
                  <div class="nodeball" style="background: #ffa07a; margin-right: 5px;">2+</div>
                  <span style="vertical-align: middle; margin-top: -3px;">Pro. Transp.</span>
                </button>
                <div class="input-group input-group-sm parametros_IG" style="box-sizing:border-box; margin-top: 8px;">
                  <div class="input-group-addon">Volume Max</div>
                  <input class="input-group-addon form-control" type="text" style="background: white;" [(ngModel)]="_P.p.vrp_vol_max_rota" name="qtd_centros">
                </div>
                <div class="input-group input-group-sm parametros_IG" style="box-sizing:border-box;" [ngClass]="{'has-danger': max_dist_rota_inp.invalid && max_dist_rota_inp.dirty }">
                  <div class="input-group-addon">Distancia Max</div>
                  <input class="input-group-addon form-control" type="text" style="background: white;"
                         [ngModel]="_P.p.vrp_dist_max_rota | input_distancia" [input-distancia]="_P.p.vrp_dist_max_rota" #max_dist_rota_inp="ngModel" name="max_dist_rota_inp">
                </div>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="_SoVRP.solver_vrp_savings()"
                        [disabled]="!(selected_orange_count == 1 && selected_blue_count > 1 )">
                  <div class="nodeball" style="background: #add8e6;">2+</div>
                  <div class="nodeball" style="background: #ffa07a; margin-right: 5px;">1</div>
                  <span style="vertical-align: middle; margin-top: -3px;">RV - Economias</span>
                </button>
                <div style="display: flex; margin-top: 5px; justify-content: center; align-items: center;" >
                  <input type="checkbox" [(ngModel)] = "_SoVRP.passo_a_passo" name="passo_a_passo">
                  <div style="margin-right: 5px; ">Passos</div>
                  <button type="button" class="btn btn-outline-success btn-sm" (click)="_SoVRP.executar_passo_a_passo()" [disabled]="!_SoVRP.passo_a_passo">
                    <span style="vertical-align: middle; margin-top: -3px;">Prox</span>
                  </button>
                </div>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="_SoVRP.avaliar_distancia_total_arestas_laranjas()" style="margin-top: 5px;">
                  <span style="vertical-align: middle; margin-top: -3px;">Total Dist Arestas</span>
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="_SoVRP.solver_vrp_varredura()" style="margin-top: 5px;"
                        [disabled]="!(selected_orange_count == 1 && selected_blue_count > 1 )">
                  <div class="nodeball" style="background: #add8e6;">2+</div>
                  <div class="nodeball" style="background: #ffa07a; margin-right: 5px;">1</div>
                  <span style="vertical-align: middle; margin-top: -3px;">RV - Varredura</span>
                </button>
              </div>
            </div>
          </app-accordion2>
        </app-accordion1>
      </div>

    </div>

  </div>

  <!--ROW 3-->
  <div style="height: 35px; display: flex;">

    <!--COL 1-->
    <div style="display: flex; width: 50px; flex-direction: column-reverse">
      <span style="font-size: 11px; padding: 2px; font-weight: bold;" class="versioning"></span>
    </div>

    <!--COL 2-->
    <div style="flex: 1; display: flex; justify-content: space-between">

      <!--Pra esquerda-->
      <div style="flex: 1; padding: 0 0 0 6px">
        <i class="_ik _clickGreen" style="font-style: normal; font-size: 14px; padding: 0 4px; color: #525252; background: #eceeef; border-radius: 4px; border: 1px solid gray;" (click)="switch_output_onoff()" >OUTPUT</i>
        <i class="_ik _p-0-2 _clickRed" style="color: gray;" (click)="_P.p.output_text=''"><i class="_ik _svg _bin_g16 _f16 _wh22 _vam _mt-3"></i></i>
      </div>
      <!--Meio-->
      <div style="flex: 1"></div>
      <!--Pra direita-->
      <div style="flex: 1; display: flex; flex-direction: row-reverse">
        <div>
          <div class="input-group input-group-sm" style="height: 30px; margin-right: 5px; padding: 0">
            <div class="input-group-addon hover1" (click)="turnon_gmaps(!gmaps_onoff)" style="padding: 0 4px" [ngStyle]="{'background': (!gmaps_onoff)?'#ececec':'#00b2a4'}">
              <i class="_ik _svg _gmaps _wh24"></i>
            </div>
            <div class="input-group-addon" style="padding: 0 2px" *ngIf="gmaps_onoff">
              <div style="display: flex; font-size: 10px; flex-direction: column; margin: 0; padding: 0">
                <div style="display: flex;">
                  <div class="botoes_hrst" (click)="mudar_estilo_mapa('hybrid')">H</div>
                  <div class="botoes_hrst" (click)="mudar_estilo_mapa('roadmap')">R</div>
                </div>
                <div style="display: flex;">
                  <div class="botoes_hrst" (click)="mudar_estilo_mapa('satellite')">S</div>
                  <div class="botoes_hrst" (click)="mudar_estilo_mapa('terrain')">T</div>
                </div>
              </div>
            </div>
            <!--HYBRID	This map type displays a transparent layer of major streets on satellite images.-->
            <!--ROADMAP	This map type displays a normal street map.-->
            <!--SATELLITE	This map type displays satellite images.-->
            <!--TERRAIN	This map type displays maps with physical features such as terrain and vegetation.-->
          </div>
        </div>
        <div>
          <div class="input-group input-group-sm" style="height: 30px; margin-right: 5px;">
            <div class="input-group-addon hover1" (click)="step_zoom(true)">
              <i class="_ik _svg _mag_zoom_out _f12 _wh12" style="color: #5b5b5b"></i>
            </div>
            <div class="input-group-addon" style="border-bottom: 2px #009688 solid; display: flex; justify-content: center; width: 83px; padding: 3px;"

                 [ngClass]="{'has-danger': zoom_inp.invalid && zoom_inp.dirty }">
              <input class="input-group-addon" type="text" style="font-size: 12px; width: 76px; padding: 2px; text-align: center; background: white"
                     [ngModel]="_P.p.zoom | input_distancia" [input-distancia]="_P.p.zoom" #zoom_inp="ngModel" name="zoom_inp" (do_after_change) = "zoom_or_center_changed()">
            </div>
            <div class="input-group-addon hover1" (click)="step_zoom(false)">
              <i class="_ik _svg _mag_zoom_in _f12 _wh12" style="color: #5b5b5b"></i>
            </div>
          </div>
        </div>
        <div style="height: 30px; display: flex; align-items: center;">
          <div style="font-style: italic; font-size: 12px; padding: 0 6px; color: #009688">
            ( {{indicador_mouse_x}}m ; {{indicador_mouse_y}}m )
          </div>
        </div>
      </div>
    </div>

    <!--COL 3-->
    <div style="display: flex; width: 200px;">

    </div>

  </div>

  <!--<div class="row" style="width:100%;height: 98vh;"> &lt;!&ndash;98% do viewport http://stackoverflow.com/questions/1575141/make-div-100-height-of-browser-window&ndash;&gt;
    <div class="col_left" style="float:left;width:3%;height: 100%;margin: 18px 0 0 0">
      <app-tool [nome_tool]='"add_node"'></app-tool>
      <app-tool [nome_tool]='"link_nodes"'></app-tool>
      <app-tool [nome_tool]='"temp_node_list"'></app-tool>
      <app-tool [nome_tool]='"temp_hand"'></app-tool>
    </div>
    <div class="col_right" style="float:right; width:16%; height: 100%;">
      <div style="amargin: 10px 0 0 0; border-bottom: solid 1px; font-style: italic; color: gray">Parâmetros</div>
      <app-accordion1 [titulo]='"Geral"'> ;D ;D ;D ;D </app-accordion1>
      <app-accordion1 [titulo]='"Vértices"'>asdasdasd</app-accordion1>
      <app-accordion1 [titulo]='"Arestas"'>asdasdasd</app-accordion1>
      <app-accordion1 [titulo]='"Calcular"'>
        <app-accordion2 [titulo]='"Localização"' [top]='"4px"'>...</app-accordion2>
        <app-accordion2 [titulo]='"Roteirização"' [bottom]='"4px"'>...</app-accordion2>
      </app-accordion1>
    </div>
    <div class="col_center" style="float:left;margin:0 auto;width:80%;height:100%;">
      <div>
        <div class="menu_bt" style="margin-left: 5px">Arquivo</div>
        <div class="menu_bt">Sobre</div>
        <div class="menu_bt">...</div>
      </div>
      <div>
        <svg style="background:rgb(255,255,204); border: 1px dashed gray; width: 100%; margin: 3px; cursor:url('assets/img/tools/temp_hand.png'), auto;">
          &lt;!&ndash;http://stackoverflow.com/questions/18551277/using-external-images-for-css-custom-cursors&ndash;&gt;
          <line x1="0" y1="0" x2="200" y2="11" style="stroke:rgb(255,0,0);stroke-width:2" />
        </svg>
      </div>
      <div>Zooms e outras opcoes</div>
      <div>
        Output
        <div style="background: rgb(235,235,235); border: double 3px rgb(145,145,145)">
          ...
        </div>
      </div>
    </div>
  </div>-->
</div>

<!--MODAL DE CONFIGURACAO DA PRANCHETA-->
<div id="modal-prancheta-config" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="display: flex; justify-content: space-between;">
        <h5 class="modal-title">Configurar tabelas de vértices/arestas</h5>
      </div>
      <div class="modal-body">

        <!--Esses parametros sao guardados no problema para serem salvos junto com o problema-->
        <div style="display: flex; flex-direction: column; margin-bottom: 20px;">
          <div style="display: flex">
            <div style="padding: 1px 4px 4px 4px"><input type="checkbox" [(ngModel)]="_P.p.pran_cfg_show_x_y"></div>
            <div>Mostrar X/Y</div>
          </div>
          <div style="display: flex">
            <div style="padding: 1px 4px 4px 4px"><input type="checkbox" [(ngModel)]="_P.p.pran_cfg_show_lat_lng"></div>
            <div>Mostrar Lat/Lng</div>
          </div>
          <div style="display: flex">
            <div style="padding: 1px 4px 4px 4px"><input type="checkbox" [(ngModel)]="_P.p.pran_cfg_show_params_loc"></div>
            <div>Mostrar Parâmetros Localização - COG</div>
          </div>
          <div style="display: flex">
            <div style="padding: 1px 4px 4px 4px"><input type="checkbox" [(ngModel)]="_P.p.pran_cfg_show_params_loc_pmed"></div>
            <div>Mostrar Parâmetros Localização - PMED</div>
          </div>
          <div style="display: flex">
            <div style="padding: 1px 4px 4px 4px"><input type="checkbox" [(ngModel)]="_P.p.pran_cfg_show_params_pro_tranp"></div>
            <div>Mostrar Parâmetros Problema Transporte</div>
          </div>
        </div>

      <div class="modal-footer">
        <div style="display: flex; justify-content: space-between; width: 100%">
          <div></div>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
